@font-face {
    font-family: Objectivity;
    src: url('../fonts/objectivity.thin.otf');
    font-weight: 100;
}
@font-face {
    font-family: Objectivity;
    src: url('../fonts/objectivity.regular.otf');
    font-weight: normal;
}
@font-face {
    font-family: Objectivity;
    src: url('../fonts/objectivity.medium.otf');
    font-weight: 400;
}
@font-face {
    font-family: Objectivity;
    src: url('../fonts/objectivity.bold.otf');
    font-weight: bold;
}
:root {
    --black: #0b0b0b;
    --green: #77C600;
    --gray: #222;
    --blue: #002647;
    --light-blue: #00BBC4;
    --border-radius: 15px;
    --light-gray: rgb(73, 88, 107);
}
* {
    margin: 0;
    padding: 0;
    line-height: 1;
}
body {
    color: #fff;
    font-family: Objectivity;
    line-height: 1em;
    background: var(--black);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    color: var(--green);
}
p {
    line-height: 1.4em;
}
header {
    padding: 20px 0;
    position: sticky;
    -webkit-position: sticky;
    top: 0;
    z-index: 100;
}
.logo {
    height: 36px;
}
.menu-row {
    display: flex;
    column-gap: 30px;
    align-items: center;
    position: relative;
}
.menu {
    display: none;
    position: absolute;
    top: 150%;
    width: 100%;
    padding: 40px;
    line-height: 2em;
    column-count: 3;
    column-gap: 40px;
    background: rgba(55, 55, 55, 0.3);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    border-radius: 20px;
}
.menu li {
    display: block;
    font-size: 20px;
    line-height: 2em;
}
.navbar-toggler-icon {
    background: url('../img/icon_menu.svg') no-repeat center center;
    background-size: contain;
    margin-right: 10px;
}
.navbarToggler {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    color: #fff;
    padding-left: 20px !important;
    text-transform: uppercase;
    border: none;
}
.navbarToggler:hover {
    color: var(--green);
}
#navswitch {
    display: none;
}
#navswitch:checked + label + .menu {
    display: block;
}
.btn {
    border-radius: 60px;
    padding: 12px 30px 9px;
    line-height: 1;
    font-size: 14px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.btn-primary {
    background-color: var(--green);
    border-color: var(--green);
    color: var(--black);
    font-weight: bold;
    text-transform: uppercase;
}
.btn-primary:hover {
    background-color: #fff;
    border-color: #fff;
    color: var(--black);
}
.btn-secondary {
    background-color: transparent;
    border: 1px solid #fff;
}
.btn-blur {
    background: rgba(55, 55, 55, 0.3);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    color: #fff;
    border: none;
}
.btn-blur:hover {
    color: var(--green);
}
.btn-giga {
    border-radius: 60px;
    border: 1px solid #fff;
    padding: 0 60px;
    font-size: 80px;
    vertical-align: top;
}
.btn-giga:hover {
    background: var(--green);
    border-color: var(--green);
}
[class*="prefix"] {
    position: relative;
    padding-left: 60px;
}
[class*="prefix"]:before {
    content: '';
    background-color: var(--black);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30%;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: var(--green);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.prefix-plus:before {
    background-image: url('../img/icon_plus.svg');
}
.prefix-arrowdown:before {
    background-image: url('../img/icon_arrowdown.svg');
}
[class*="affix"] {
    position: relative;
    padding-right: 60px;
}
[class*="affix"]:after {
    content: '';
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--green);
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.affix-arrowright:after {
    background-image: url('../img/icon_arrow_right.svg');
}
.video-homepage {
    position: fixed;
    height: 100vh;
    width: 100%;
    min-height: 600px;
    z-index: -1;
    top: 0;
}
.video-homepage video, .video-homepage .mobile_video_bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}
video::-webkit-media-controls-panel {
    display: none;
    -webkit-appearance: none;
}
video::-webkit-media-controls-play-button {
    display: none;
    -webkit-appearance: none;
}
video::-webkit-media-controls-start-playback-button {
    display: none;
    -webkit-appearance: none
}
video::-webkit-media-controls {
    display: none;
    -webkit-appearance: none;
}
.social-media {
    margin: 0;
    padding: 0;
    position: fixed;
    left: calc((100vw - var(--breakpoint)) / 2 + 18px);
    z-index: 99;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.social-media li {
    list-style: none;
    background: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.social-media li svg {
    fill: #fff;
}
.content {
    width: 100%;
    overflow-x: hidden;
}
section {
    background-color: var(--black);
    padding: clamp(40px, 10vh, 200px) 0;
    width: 100%;
}
.video-section {
    background-color: transparent;
    height: 100vh;
}
.coinjoin-section {
    background-image: url('../img/coinjoin_bg.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}
.section-transparent {
    background-color: transparent;
}
footer {
    padding: 20px 0;
    line-height: 1.8em;
    position: relative;
    z-index: 2;
    background: var(--black);
}
footer, footer a {
    color: #fff;
    font-size: 14px;
}
footer .white-text {
    font-size: 16px;
}
.white-text {
    color: #fff;
}
.no-break {
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 40px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.no-break-holder {
    position: relative;
}
.no-break-holder:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 80px;
    background: linear-gradient(90deg, rgba(11, 11, 11, 0) 0%, rgba(11, 11, 11, 1) 100%);
}
.no-break::-webkit-scrollbar {
    display: none;
}
.title-small {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2em;
}
.title {
    font-size: clamp(20px, 4vw, 60px);
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.2em;
}
.title-big {
    font-size: clamp(30px, 6vw, 94px);
    text-transform: uppercase;
    line-height: 1em;
    font-weight: 400;
}
.title-huge {
    font-size: clamp(40px, 6vw, 98px);
    text-transform: uppercase;
    line-height: 1em;
    font-weight: 400;
}
.pull-img {
    position: absolute;
    width: 700px;
    max-width: 700px;
    top: 50%;
    transform: translateY(-50%)
}
.pull-img-to-left {
    right: 0
}
.pull-img-to-right {
    left: 0
}
.box {
    border: 1px solid var(--gray);
    border-radius: 20px;
    padding: 20px;
    position: relative;
}
.box.green {
    background-color: var(--green);
}
.equal .box {
    height: 100% !important;
}
.floating-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 40px);
}
.icon-pull-left {
    position: absolute;
    left: -44px;
}
.box-gray {
    background-color: var(--gray);
    padding: 20px;
    border-right: 5px var(--black) solid;
    font-size: 14px;
}
.box-gray img {
    object-fit: contain;
    height: 100px;
    font-size: 14px;
}
.card {
    background: var(--black);
    color: #fff;
    border: 1px solid var(--gray);
    margin: 20px 0;
    border-radius: 20px;
}
.card-content, .card input {
    display: none;
}
.card input:checked + label + .card-content {
    display: block;
}
.card label {
    padding: 20px 20px 16px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    line-height: 1.2em;
}
.card label:after {
    content: '▼';
    color: var(--green);
    position: absolute;
    right: 0;
    padding: 0 20px;
    top: calc(50% - 7px);
}
.card input:checked + label:after {
    content: '▲';
    top: 20px;
}
.card-content {
    padding: 18px;
}
.card table {
    color: var(--green);
    margin: 40px;
}
.download-box {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 25px;
    background: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.download-box svg {
    height: 40px;
    width: 40px;
}
.download-box svg {
    fill: #fff;
}
.download-box:hover {
    background-color: rgb(73, 88, 107, 0.2);
}
.system-text {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}
.download-icon {
    height: 40px;
}
.download-icon.small {
    height: 20px;
    margin-left: 15px;
    margin-top: 10px;
    opacity: 0.5;
}
.small-text {
    font-size: 12px;
}
.timeline {
    margin: 80px 0;
    padding: 0;
}
.timeline:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: var(--green);
    margin-left: calc(50% - 11px);
}
.timeline:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: var(--green);
    margin-left: calc(50% - 11px);
}
.timeline li {
    width: 50%;
    padding: 60px 0 5px;
    padding-right: 15%;
    position: relative;
    display: block;
}
.timeline li:before {
    content: '□';
    display: block;
    color: var(--green);
    position: absolute;
    font-size: 70px;
    top: 44px;
}
.timeline li:nth-child(even):before {
    left: calc(15% - 8px);
}
.timeline li:nth-child(odd):before {
    right: calc(15% - 8px);
}
.timeline li:nth-child(even) {
    margin-left: calc(50% - 1px);
    padding-left: 15%;
    padding-right: 0;
}
.timeline-title {
    font-weight: bold;
    font-size: 30px;
    color: var(--green);
    margin-bottom: 10px;
    line-height: 1.2em;
}
.timeline li:nth-child(odd) {
    border-right: 1px solid var(--green);
}
.timeline li:nth-child(even) {
    border-left: 1px solid var(--green);
}
.timeline li .timeline-title:after {
    content: '';
    font-size: 80px;
    position: absolute;
    display: block;
    top: 75px;
    width: 15%;
    height: 1px;
    background-color: var(--green);
}
.timeline li:nth-child(odd) .timeline-title:after {
    right: 0;
}
.timeline li:nth-child(even) .timeline-title:after {
    left: 0;
}
.timeline-small-img {
    height: 30px;
    vertical-align: top;
}
.icon-big {
    fill: var(--green);
    height: 80px;
}
.icon-big img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.icon-size {
    width: 50%;
    height: 100px;
    object-fit: contain;
}
.icon-size.left {
    object-position: left;
}
.integration-img {
    width: 100%;
    max-width: 400px;
}
ol {
    line-height: 1.7em;
    margin: 20px 0;
    padding: 0;
    padding-left: 20px;
}
ol li {
    margin: 15px 0;
    line-height: 1.7em;
}
ol li::marker {
    color: var(--green);
}
.green-text {
    color: var(--green);
}
@media (min-width: 576px) {
    body {
        --breakpoint: 540px;
    }
}
@media (min-width: 768px) {
    body {
        --breakpoint: 720px;
    }
}
@media (min-width: 992px) {
    body {
        --breakpoint: 960px;
    }
}
@media (min-width: 1200px) {
    body {
        --breakpoint: 1140px;
    }
}
@media (min-width: 1400px) {
    body {
        --breakpoint: 1320px;
    }
}
@media only screen and (max-width: 991px) {
    section {
        min-height: auto;
        padding: 40px 0;
    }
    .pull-img {
        width: 100%;
        height: auto;
        position: relative;
        top: inherit;
        left: inherit !important;
        transform: none;
        ma
    }
    .menu-row {
        justify-content: end;
    }
    .menu {
        column-count: 1;
        height: 90vh;
        background: rgba(0, 0, 0, 0.3);
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
    }
    .btn-giga {
        padding: 0 30px;
        font-size: 36px;
    }
    .btn-giga svg {
        height: 20px;
    }
    .video-section, .video-homepage {
        height: 50vh;
    }
    .section-transparent {
        background-color: var(--black);
    }
}
@media only screen and (max-width: 600px) {
    .timeline li {
        width: 90%;
        padding: 60px 0
    }
    .timeline:before, .timeline:after {
        margin-left: calc(90% - 11px)
    }
    .timeline li:nth-child(odd) {
        padding-right: 20%
    }
    .timeline li:nth-child(even) {
        margin-left: 0;
        padding-left: 0;
        padding-right: 20%
    }
    .timeline li:nth-child(even) {
        border-left: 0;
        border-right: 1px solid var(--green)
    }
    .timeline li:nth-child(even) .timeline-title:after {
        left: auto;
        right: 0
    }
    .timeline li:nth-child(even):before {
        left: inherit;
        right: calc(15% - 8px)
    }
    .timeline li:before {
        font-size: 50px;
        top: 53px;
    }
    .timeline li:nth-child(even):before, .timeline li:nth-child(odd):before {
        right: calc(15% - 4px)
    }
    .timeline-title {
        font-size: 16px;
        margin-top: 10px
    }
    .timeline-small-img {
        height: 14px
    }
    .floating-content {
        position: static;
        top: 0;
        transform: none;
        width: 100%
    }
}
